<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.3" targetFramework="net451" />
  <package id="Elasticsearch.Net" version="1.1.2" targetFramework="net451" />
  <package id="Endjin.Retry" version="1.0.0.41" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="ReTry" version="0.1.0.0" targetFramework="net451" />
  <package id="ServiceProcess.Extensions.NET45" version="1.2.1" targetFramework="net451" />
</packages>